.previous-orders-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.container55 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#head {
    font-size: 45px;
}

.orders-list h4 {
    color: #6c62e9;
    font-size: 24px;
    text-decoration: underline;
}

.previous-orders-container h2 {
    margin-top: 32px;
    font-size: 32px;
    /* margin-bottom: 75px; */
    font-weight: bold;
}

.previous-orders-container input {
    width: 400px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 25px;
}

#btn1 {
    margin-bottom: 50px;
    margin-left: 180px;
}

#para1 {
    text-align: center;
    font-weight: bold;
}

.previous-orders-container img {
    height: 175px;
    width: 175px;
    border-radius: 36px;
    border: 4px solid pink;
    transition: transform 1s ease;
}

.previous-orders-container img:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}